* {
    width: 0;
    padding: 0;
    margin: 0;
  }
  body {
    background: blue;
    color: white;
    font-family: sans-serif;
  }
  #about, #home, #contact {
    position: absolute;
  }
  #about {
    margin-top: -198px;
    margin-left: 60px;
  }
  #about:hover {
    color: #f42141;
  }
  #home {
    margin-top: -198px;
    margin-left: 700px;
  }
  #home:hover {
    color: #f42141;
  }
  #contact {
    margin-top: -198px;
    margin-left: 1270px;
  }
  #contact:hover {
    color: #f42141;
  }
  .nav {
    border: 1.5px solid white;
    width: 1326px;
    position: absolute;
    margin-left: 60px;
    margin-top: -210px;
    z-index: 20;
  }
  .gallery {
    margin-top: 240px;
  }
  h1 {
  font-family: "Cambria";
  position: absolute;
  width: 1328px;
  margin-left: -225px;
  margin-top: -160px;
  text-align: center;
  font-size: 90pt;
  margin-bottom: 20px;
  z-index: 15;
  }
  h1:hover {
   color: #f42141;
  }
  p {
    font-family: "Cambria";
    font-size: 25pt;
  }
  .boxleft {
    padding: 4px;
    background-color: blue;
    position: absolute;
    border: 1px solid white;
    width: 175px;
    height: 150px;
    margin-top: 500px;
    margin-left: 430px;
    transition: .1s ease-in-out;
    z-index: 1;
    color: blue;
  }
  .boxleft:hover {
   transform: rotate(0.1rad);
    background-color: black;
    transition-duration: 0.2s;
    color: #f42141;
  }
  .boxright {
     padding: 4px;
    background-color: blue;
    position: absolute;
    border: 1px solid white;
    width: 150px;
    height: 190px;
    margin-top: 350px;
    margin-left: 860px;
    transition: .1s ease-in-out;
    z-index: 1;
    color: blue;
  }
  .boxright:hover {
  transform: rotate(0.1rad);
    background-color: black;
    transition-duration: 0.2s;
    color: #f42141;
    border-width: 2px;
  }
  .boxupper {
    padding: 4px;
    background-color: blue;
    position: absolute;
    border: 1px solid white;
    width: 175px;
    height: 155px;
    margin-top: -100px;
    margin-left: 1000px;
    transition: .1s ease-in-out;
    z-index: 1;
    color: blue;
  }
  .boxupper:hover {
   transform: rotate(0.1rad);
    background-color: black;
    transition-duration: 0.2s;
    color: #f42141;
  }
  img {
   height: 260px;
   width: 400px;
  }
  img, .black {
    background-color: black;
  }
  .row {
    display: flex;
    margin-left: 62px;
  }
  .image {
    border: 1px solid white;
    height: 260px;
    width: 400px;
    display: inline-block;
    padding: 20px;
    transition: transform .1s ease-in-out, background-color 0s;
  }
  .image:hover {
    transform: rotate(0.1rad);
    background-color: black;
    transition: transform 0.4s,       background-color 0s; 
    border-color: #f42141;
    border-width: 2px;
  }
  .black:hover, img:hover {
    background-color: blue;
  }
  footer {
    height: 60px;
  }
  /*
   #home {
    color: white;
    background-color: black;
    border: 1px solid white;
    margin-top: -144px;
    margin-left: 62px;
    width: 200px;
    height: 40px;
    position: absolute;
    z-index: 3;
    padding-top: 2px;
    padding-left: 4px;
  }
  #about {
    color: white;
    background-color: black;
    border: 1px solid white;
    margin-top: -102px;
    margin-left: 62px;
    width: 200px;
    height: 40px;
    position: absolute;
    z-index: 3;
    padding-top: 2px;
    padding-left: 4px;
  }
  #contact {
    color: white;
    background-color: black;
    border: 1px solid white;
    margin-top: -62px;
    margin-left: 62px;
    width: 200px;
    height: 40px;
    position: absolute;
    z-index: 3;
    padding-top: 2px;
    padding-left: 4px;
  }
  #contact:hover {
    color: white;
    background-color: blue;
    transform: rotate(0.1rad);
    transition-duration: 0.2s;
    color: white;
    z-index: 5;
  }
  #about:hover {
    color: white;
    background-color: blue;
    transform: rotate(0.1rad);
    transition-duration: 0.2s;
    color: white;
    z-index: 5;
  }
  #home:hover {
    color: white;
    background-color: blue;
    transform: rotate(0.1rad);
    transition-duration: 0.2s;
    color: white;
    z-index: 5;
  }
  #dec1 {
    color: white;
    background-color: black;
    border: 1px solid white;
    margin-top: -144px;
    margin-left: 1185px;
    width: 200px;
    height: 40px;
    position: absolute;
    z-index: 3;
    padding-top: 2px;
    padding-left: 4px;
  }
  #dec2 {
     color: white;
    background-color: black;
    border: 1px solid white;
    margin-top: -102px;
    margin-left: 1185px;
    width: 200px;
    height: 40px;
    position: absolute;
    z-index: 3;
    padding-top: 2px;
    padding-left: 4px;
  }
  #dec3 {
     color: white;
    background-color: black;
    border: 1px solid white;
    margin-top: -62px;
    margin-left: 1185px;
    width: 200px;
    height: 40px;
    position: absolute;
    z-index: 3;
    padding-top: 2px;
    padding-left: 4px;
  }
  #dec1:hover {
    color: white;
    transform: rotate(0.1rad);
    background-color: blue;
    transition-duration: 0.2s;
    color: white;
    z-index: 5;
  }
  #dec2:hover {
    color: white;
    transform: rotate(0.1rad);
    background-color: blue;
    transition-duration: 0.2s;
    color: white;
    z-index: 5;
  }
  #dec3:hover {
    color: white;
    transform: rotate(0.1rad);
    background-color: blue;
    transition-duration: 0.2s;
    color: white;
    z-index: 5;
  }
  */
  
